<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-12 py-3">
          Nome
        </th>
        <th scope="col" class="px-6 py-3">
          CPF
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
        <th scope="col" class="px-6 py-3">
        </th>
      </tr>
    </thead>
    <tbody>
      <% municipe.each do |municipe| %>
        <tr id="<%= dom_id municipe %>" class="bg-white border-b dark:border-gray-700">
          <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
            <div class="w-10 h-10 rounded-full">
              <% if municipe.photo.blank? %>
              <%= image_tag("user.png") %>
              <% else %>
                <%= image_tag municipe.photo.variant(:small) %>
              <% end %>
            </div>
            <div class="ps-3">
              <div class="text-base font-semibold"><%= municipe.name %></div>
              <div class="font-normal text-gray-500"><%= municipe.email %></div>
            </div>
          </th>
          <td class="px-6 py-4">
            <%= municipe.cpf %>
          </td>
          <td class="px-6 py-4">
            <div class="flex items-center">
              <% if municipe.status === 'active' %>
                <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Ativo
              <% elsif municipe.status === 'inactive' %>
                <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Inativo
              <% else %>
                <div class="h-2.5 w-2.5 rounded-full bg-gray-500 me-2"></div> Status Desconhecido
              <% end %>
            </div>
          </td>
          <td class="px-6 py-4">
            <%= link_to 'Visualizar', municipe_path(municipe), data: { turbo: :false },  class: "font-medium text-blue-600 hover:underline transition-colors duration-300 ease-in-out" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
