<div class="w-full">
  <%= turbo_frame_tag 'tabela' do %>
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Munícipe</h1>
        <div class="flex justify-center m-5">
            <%= link_to "Cadastrar munícipe", new_municipe_path, class: 'btn-modal' , data: { turbo_frame: 'modal' } %>
        </div>
    </div>
    <div class="mb-2">
      <%= turbo_frame_tag "modal" %>
    </div>
    <div class="flex items-center justify-end flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white py-2">
      <%= form_with url: search_path, method: :get do |form| %>
      <%= form.label :search, 'Pesquisar', class:"sr-only" %>
      <div class="relative">
          <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <%= form.text_field :search,
                              placeholder: 'Pesquisar munícipes',
                              class: "block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
      </div>
      <% end %>
    </div>
    <div id="municipes" class="py-2">
      <%= render 'municipes/municipe', municipe: @municipes  %>
    </div>
  <% end %>
</div>


