<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Municipes</h1>
      <div class="flex justify-center m-5">
        <%= turbo_frame_tag 'new_municipe_component', class: "space-x-2" do %>
          <%= link_to new_municipe_path, id: 'municipe_link', class: "btn-modal" do %>
            Cadastrar municipe
          <% end %>
        <% end %>
      </div>
  </div>
  <%= turbo_frame_tag 'table_municipes' do %>
    <div id="municipes" class="min-w-full">
      <%= render "table" %>
    </div>
  <% end %>
</div>

<div id="updateProductModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
      <%= render 'modal' %>
  </div>
</div>
